<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show user by id</title>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    div {
        display: flex;
        align-content: center;
        padding: 10px 0;
    }
    p {
        padding: 0 10px;
    }
</style>
<body>
<div>
    <p>User Id: </p>
    <p th:text="${user.getId()}">Id</p>
</div>
<div>
    <p>User FullName: </p>
    <p th:text="${user.getFullName()}">Full name</p>
    </div>
<div>
    <p>User BirthYear: </p>
    <p th:text="${user.getBirthYear()}">Birth year</p>
</div>
<div>
    <p>
        <a href="/">HomePage</a>
    </p>
</div>
</body>
</html>